body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

caption {
  caption-side: bottom;
}

.chips {
    width: 100px;
    height: auto;
}

/*
The navbar color overrides
Generator: http://twbscolor.smarchal.com/*/
.navbar-default {
	background-color: #393e99;
	border-color: #202357;
}
.navbar-default .navbar-brand {
	color: #fdb336;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fdb336;
}
.navbar-default .navbar-text {
	color: #fdb336;
}
.navbar-default .navbar-nav > li > a {
	color: #fdb336;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fdb336;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fdb336;
	background-color: #202357;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #fdb336;
	background-color: #202357;
}
.navbar-default .navbar-toggle {
	border-color: #202357;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #202357;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fdb336;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #fdb336;
}
.navbar-default .navbar-link {
	color: #fdb336;
}
.navbar-default .navbar-link:hover {
	color: #fdb336;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fdb336;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fdb336;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fdb336;
		background-color: #202357;
	}
}